html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: #444;
	font: 300 16px / 30px merriweather, serif;
	text-align: center;
}

h1,
h2,
h3,
h4,
p {
	margin: 0 0 24px;
}

h2 {
	margin-top: 96px;
}

code {
	font-family: dejavu sans mono, bitstream vera sans mono, monospace;
}

.logo {
	display: block;
	width: 200px;
	margin: 72px auto 42px;
}

.name {
	font-size: 32px;
	line-height: 48px;
}

.intro {
	max-width: 640px;
	margin: 36px auto;
	text-align: left;
}

.code {
	padding: 18px 18px;
	background: #eee;
	text-align: left;
}

.code pre {
	max-width: 640px;
	margin: 0 auto;
}

.cropper {
	width: 640px;
	height: 480px;
	margin: 36px auto;
	padding: 0;
	background: url(https://unsplash.it/640/480/?image=1062);
}
